
input[type="text"]{
    display: block;
}
input[type="submit"]{
    display: block;
    margin-top: 10px;
    background-color: #d85f0e;
    content: "";
    width: 50px;
    height: 20px;
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 10%;
    transition: .5s ease-in-out all;
    border-radius: 100px;
    transform-origin: center;
    transform: scale(3);  
}
table thead tr{
    background: #fe8737;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
table thead tr th{
    padding: 10px;
}
table tbody tr{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
table tbody tr:nth-child(2n+1){
    background: #ffd9ce;
}
table tbody tr:nth-child(2n){
    background: #ffeee7;
}
body{
    background: rgba(223, 23, 23, 0.514);
}
